<div class="prose dark:prose-invert">
  <slot />
</div>
<style>
  .prose :global(a) {
    color: var(--color-link);
  }

  .prose :global(a:hover) {
    color: var(--color-link-hover);
  }

  @media (prefers-color-scheme: dark) {
    .prose :global(a) {
      color: var(--color-link-dark);
    }

    .prose :global(a:hover) {
      color: var(--color-link-dark-hover);
    }
  }
</style>