@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: "Geist", sans-serif;
}

.prose a {
	color: var(--color-blue-700);
	text-decoration-color: var(--color-blue-300);
}

.prose a:hover {
	color: var(--color-blue-900);
	text-decoration-color: var(--color-blue-900);
}

@media (prefers-color-scheme: dark) {
	.prose a {
		color: var(--color-blue-400);
		text-decoration-color: var(--color-blue-800);
	}

	.prose a:hover {
		color: var(--color-blue-200);
		text-decoration-color: var(--color-blue-200);
	}
}
