@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Geist", sans-serif;
  --color-link: oklch(64.5% 0.246 16.439); /* rose-500 */
  --color-link-hover: oklch(58.6% 0.253 17.585); /* rose-600 */
  --color-link-dark: oklch(64.5% 0.246 16.439); /* rose-500 */
  --color-link-dark-hover: oklch(71.2% 0.194 13.428); /* rose-400 */
}
