/* Variables */
$max-content-width: 720px;
$page-gutter-width: 15px;
$primary-color: #1EBF6E;

/* Mixins */
@mixin desktop {
  @media (min-width: $max-content-width + $page-gutter-width * 2) {
    @content;
  }
}

/* Styles */
html,
body {
  @include desktop {
    height: 100%;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
               Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #FFF;
  color: #000;
  margin: 0;
}

a {
  color: inherit;
  font-weight: 700;

  &:hover {
    color: $primary-color;
  }
}

.main {
  @include desktop {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.content {
  padding: $page-gutter-width;
  max-width: $max-content-width;
  margin: auto;
}

h1 {
  line-height: 1.2;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;

  @include desktop {
    font-size: 3rem;
  }
}

p {
  line-height: 1.4;
  margin-bottom: 2rem;

  @include desktop {
    font-size: 1.25rem;
  }
}

img {
  display: block;

  @media (max-width: 445px + $page-gutter-width * 2) {
    width: 100%;
    max-width: 445px;
    height: auto;
  }
}

.emoji {
  display: block;
}
